.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg.jpeg) center (center / cover) no-repeat;

    @media screen and (max-width: 1024px) {
        background-position: 30% 20%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;

        @media screen and (max-width: 1024px) {
            align-items: center;
        }
    }


    &__header {
        color: rgb(255, 255, 255);
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 36px;
        }
    }

    &__subheader {
        margin-top: 17px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
            font-size: 18px;
            text-align: center;
        }
    }

    &__icons {
        margin-top: 60px;
        width: 425px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 576px) {
            width: auto;
            align-items: center;
            flex-direction: column;
        }
    }

    &__icon {
        width: 126px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 576px) {
            margin-top: 20px;
        }
    }

    &__link {
        margin-top: 18px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 500;

        a {
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}